/* Banner */
.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    text-align: center;
}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 30%;
    background-color: #004aad;
}

.cotizar-btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #004aad;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.cotizar-btn:hover {
    background-color: #5a125a;
}

.carousel-caption-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}